Verstoringen_filtered.csv

data_NS_filtered_merged.csv

data_NS_filtered.csv
complete_dataset.csv
Verstoringen_filtered.csv

Verstoringen.csv

Verstoringen.xlsx
# Ignore notebooks'checkpoints
.ipynb_checkpoints/

# Ignore temporary Python files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore the system files
.DS_Store
Thumbs.db

# Ignore data_NS_filtered.csv
data/data_NS_filtered.csv
