# Ignore notebooks'checkpoints
.ipynb_checkpoints/

# Ignore temporary Python files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore the system files
.DS_Store
Thumbs.db

# Ignore data_NS_filtered.csv
data/data_NS_filtered.csv